.delivery {
	list-style: disc;
    margin: inherit;
}
.attention {
	font-size: 18px;
	color: #FF52EE;
}
.call {
	background: url(../icons/phone.svg) no-repeat;
    height: 40px;
    width: 40px;
    display: block;
    background-size: cover;
}
.main-404 {
	display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.main-404 p {
	margin-top: 20px;
}
.main-404 a {
	text-decoration: none;
}
.main-404 a:hover {
	color: #FF52EE;
}

